.seats {
  width: 1000px;
  margin: 0 auto;
}
.iSeat {
  display: inline-block;
  padding: 5px;
}
img, .iSeat {
  width: 90px;
  height: 90px;
}
#rBtn{
  position: fixed;
  top: 20px;
  left: 20px;
}
.ui-tooltip, .arrow:after {
   background: black;
   border: 2px solid white;
   width: 400px;
   height: 400px;
 }
 .ui-tooltip {
   padding: 10px 20px;
   color: white;
   border-radius: 20px;
   font: bold 14px "Helvetica Neue", Sans-Serif;
   text-transform: uppercase;
   box-shadow: 0 0 7px black;
 }
 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }
 .arrow.top {
   top: -16px;
   bottom: auto;
 }
 .arrow.left {
   left: 20%;
 }
 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }

 .form {
   width: 500px;
   height: 350px;
   margin: 0 auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }

 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #4c8faf;
    color: white;
    padding: 14px 20px;
    margin: 10px 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1c7ca8;
}

form {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
