
.bg {
    background-image: url("images/theater1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    position: relative;

}

.validate {
  color: white;
  float: right;

}

#leftCurtain, #rightCurtain {
  position: absolute;
  z-index: 10;
}

#leftCurtain {
  top: -100px;
  left: 21%;
  height: 71%;
  width: 40%;
}

#rightCurtain {
  top: -100px;
  right: 17%;
  height: 71%;
  width: 40%;
}

.radio {
  margin-left: 10%;
}

.seats {
  width: 70%;
  padding-top: 43.5%;
  margin: 0 19%;
}
.iSeat {
  width: 10%;
  height: auto;
  display: inline-block;
  padding: 0;
}
.iSeat img {
  width: 75%;
  height: auto;
}

 .form {
   font-size: 100%;
   font-family: arial;
   opacity: .8;
   filter: alpha(opacity=80);
   /* top: 29px; */
   /* left: 678px; */
   position: absolute;
   width: 30%;
   height: auto;
   margin: 1% 35%;
   border-radius: 5px;
   background-color: #964e4e;
   padding: 2%;
   box-shadow: 7px 7px 2px #323a30;
 }

 input[type=text], select {
   columns: grey;
   width: 100%;
   padding: 1% 3%;
   margin: 2% 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

form button[type=button] {
    width: 25%;
    background-color: #493756;
    color: white;
    padding: 3% 6%;
    margin: 4% 36% -2% 36%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type=button]:hover {
    background-color: grey;
}

/*form {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background: grey;
    padding: 20px;
}*/
