
.bg {
    background-image: url("images/theater1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    position: relative;

}

.radio {
  margin-left: 130px;
}

.seats {
  max-width: 1000px;
  padding-top: 650px;
  margin: 0 auto;
}
.iSeat {
  display: inline-block;
  padding: 5px;
}
.iSeat img {
  width: 90px;
  height: 90px;
}
#rBtn{
  position: fixed;
  top: 20px;
  left: 20px;
}
.ui-tooltip, .arrow:after {
   background: black;
   border: 2px solid white;
   width: 400px;
   height: 400px;
 }
 .ui-tooltip {
   padding: 10px 20px;
   color: white;
   border-radius: 20px;
   font: bold 14px "Helvetica Neue", Sans-Serif;
   text-transform: uppercase;
   box-shadow: 0 0 7px black;
 }
 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }
 .arrow.top {
   top: -6px;
   bottom: auto;
 }
 .arrow.left {
   left: 20%;
 }
 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   box-shadow: 6px 5px 9px -9px black;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }

 .form {
   font-family: arial;
   opacity: .8;
   filter: alpha(opacity=80);
   top: 29px;
   left: 705px;
   position: absolute;
   width: 500px;
   height: 400px;
   margin: 0 auto;
   border-radius: 5px;
   background-color: #964e4e;
   padding: 20px;
   box-shadow: 7px 7px 2px #323a30;
 }

 input[type=text], select {
   columns: grey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type=button] {
    width: 25%;
    background-color: #493756;
    color: white;
    padding: 14px 20px;
    margin: 30px 36%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type=button]:hover {
    background-color: grey;
}

form {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background: grey;
    padding: 20px;
}
